.advantages-list {
  display: flex;

  &__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;

    justify-content: flex-start;

    &:last-child {
      margin-right: 0;
    }
  }

  &__box {
    display: inline-flex;
    width: 100%;
    height: 120px;
    background-color: var(--secondary-bgc);
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
